<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<th:block th:include="/layout :: common-meta" />

	<title th:text="#{battle.queue.page.title}">keybattle</title>

	<script type="text/javascript" th:src="@{/resources/script/lib/sockjs-0.3.4.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/lib/stomp.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/battle-queue.js}"></script>

	<script th:include="/layout :: initJs"></script>
	
	<script th:inline="javascript">
		var battleId = [[${battleId}]]; 
	</script>

	<link th:href="@{/resources/css/battle-queue.css}" rel="stylesheet" />
</head>

<body onload="connect();" onbeforeunload="disconnect();">

<div class="content-wrap">
	<header th:include="/layout :: header"></header>

	<nav th:include="/layout :: navigation"></nav>

	<div class="main">
		<div id="battle-queue">
			<div id="user-cards">
				
			</div>
		</div>
	</div>
</div>

<footer th:include="/layout :: footer"></footer>

</body>

</html>
