<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<th:block th:include="/layout :: common-meta" />

	<title th:text="#{battle.room.page.title}">keybattle</title>

	<script type="text/javascript" th:src="@{/resources/script/lib/sockjs-0.3.4.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/lib/stomp.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/battle-room.js}"/>

	<link th:href="@{/resources/css/battle-room.css}" rel="stylesheet" />
</head>

<body onload="connect();" onbeforeunload="disconnect();">

<div class="content-wrap">
	<header th:include="/layout :: header"></header>

	<nav th:include="/layout :: navigation"></nav>

	<div class="main">
		<section>
			<div class="room-wrapper">
				<div class="room-element battle-room scrollbar">
					<div class="battle-card">Hello!</div>
					<div class="battle-card">Hello!</div>
					<div class="wide-battle-card">Hello!</div>
					<div class="battle-card">Hello!</div>
				</div>
				<div class="room-element chat-wrapper">
					<div class="chat-users scrollbar" id="chat-users">
					</div>

					<div class="scrollbar" id="chat-window">
					</div>
					<input class="form-input form-text-input" type="text" id="user-message" onkeypress="sayOnEnter(event);"/>
					<div id="cur-user-name" style="display: none;" sec:authentication="name">noname</div>
				</div>
			</div>
		</section>
	</div>
</div>

<footer th:include="/layout :: footer"></footer>

</body>

</html>
