<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/layout :: common-meta" />
	
	<title th:text="#{error.page.title}"></title>
</head>

<body>

<div class="content-wrap">
	<th:block th:include="/layout :: header" />

	<th:block th:include="/layout :: navigation" />

	<div class="main-content" style="text-align: center; margin-top: 5em;">
		<h3 th:text="#{error.page.content}">404 Page Not Found</h3>
		<h5 th:text="${exception}" style="text-align: left;"></h5>
	</div>
</div>

<th:block th:include="/layout :: footer" />

</body>

</html>
