<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="common-meta">
	<!-- do not cache page -->
	<meta http-equiv="Cache-Control" content="max-age=0" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="Pragma" content="no-cache" />
	
	
	<!-- content type and charset -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	
	
	<!-- for all devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	
	<!-- description -->
	<meta name="description" th:content="#{site.name}"/>
	<meta name="author" content="Ivan Anisimov"/>

	
	<link th:href="@{/icons/favicon.png}" rel="shortcut icon" type="image/png" />

	<link th:href="@{/css/layout.css}" rel="stylesheet" />
	<link th:href="@{/css/lib/sweet-alert.css}" rel="stylesheet" />

	<script th:src="@{/script/common.js}" type="text/javascript"/>
	<script th:src="@{/script/lib/sweet-alert.js}" type="text/javascript"/>
	<script th:src="@{/script/lib/jquery.min.js}" type="text/javascript"/>
</head>

<body>

<script th:fragment="initJs" th:inline="javascript">
/*<![CDATA[*/
	var userId = [[${#authentication.principal.id}]];
	
	var urls = {};
	urls.battleServerUrl = 'http://' + [[#{battle.server.host}]] + ':' + [[#{battle.server.port}]];
	urls.indexPageUrl = [[@{/}]];
	urls.battlePageUrl = [[@{/battle/}]];
	urls.getAvatarUrl = [[@{/user/avatar}]];
	urls.getStatusUrl = [[@{/user/status}]];

	var dicts = {};
	dicts.webActionStatusDict = [[${webActionStatusDict}]];
	dicts.webActionParamDict = [[${webActionParamDict}]];
	dicts.webActionParamValueDict = [[${webActionParamValueDict}]];
	dicts.webActionParamValueDict = [[${webActionParamValueDict}]];
	dicts.webCaptionDict = [[${webCaptionDict}]];
	
	var loadTextError = [[#{load.text.error}]];
/*]]>*/
</script>

<div th:fragment="header">
	<!-- header -->
	<div id="header" class="header">
		<div class="header-title-wrap">
			<form th:action="@{/}" method="get">
				<div class="header-title" th:text="#{site.name}" onclick="this.parentNode.submit()"></div>
			</form>	
		</div>

		<div class="vertical-separator"/>

		<div class="menu-wrap">
			<!-- menu -->
			<div id="nav" class="nav">
				<ul>
					<!-- battle -->
					<li class="nav-category">
						<div th:text="#{battle.page.name}"></div>
						<ul>
							<!-- training -->
							<li>
								<form th:action="@{/battle/training}" method="get">
									<div onclick="this.parentNode.submit()" th:text="#{battle.training.page.name}"></div>
								</form>
							</li>
							<!-- queue -->
							<li>
								<form th:action="@{/battle/queue}" method="get">
									<div onclick="this.parentNode.submit()" th:text="#{battle.queue.page.name}"></div>
								</form>
							</li>
						</ul>
					</li>

					<!-- texts -->
					<li sec:authorize="isAuthenticated()" class="nav-category">
						<form th:action="@{/texts}" method="get">
							<div onclick="this.parentNode.submit()" th:text="#{texts.page.name}"></div>
						</form>
					</li>
					
					<!-- profile -->
					<li sec:authorize="isAuthenticated()" class="nav-category">
						<form th:action="@{/profile}" method="get">
							<div onclick="this.parentNode.submit()" th:text="#{profile.page.name}"></div>
						</form>
						<ul>
							<!-- info -->
							<li>
								<form th:action="@{/profile}" method="get">
									<div onclick="this.parentNode.submit()" th:text="#{info.page.name}"></div>
								</form>
							</li>

							<!-- statistics -->
							<li>
								<form th:action="@{/statistics}" method="get">
									<div onclick="this.parentNode.submit()" th:text="#{statistics.page.name}"></div>
								</form>
							</li>

							<!-- logout -->
							<li>
								<form th:action="@{/logout}" method="post">
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
									<div onclick="this.parentNode.submit()" th:text="#{logout.page.name}"></div>
								</form>
							</li>
						</ul>
					</li>

					<!-- about -->
					<li class="nav-category">
						<form th:action="@{/about}" method="get">
							<div onclick="this.parentNode.submit()" th:text="#{about.page.name}"></div>
						</form>
					</li>
					
					<!-- battle -->
					<li sec:authorize="!isAuthenticated()" class="nav-category">
						<form th:action="@{/sign-in}" method="get">
							<div onclick="this.parentNode.submit()" th:text="#{sign.in.page.name}"></div>
						</form>
					</li>
					<li sec:authorize="!isAuthenticated()" class="nav-category">
						<form th:action="@{/sign-up}" method="get">
							<div onclick="this.parentNode.submit()" th:text="#{sign.up.page.name}"></div>
						</form>
					</li>
				</ul>
			</div>
		</div>	

		<th:block sec:authorize="isAuthenticated()">
			<div class="vertical-separator"/>
			
			<div class="user-wrap">
				<form th:action="@{/profile}" method="get">
					<div onclick="this.parentNode.submit()" class="user-login" th:text="${#strings.abbreviate('valter',21)}">
					</div>
	
					<div onclick="this.parentNode.submit()" class="user-image">
						<img alt="avatar" src="/user/avatar?type=2&amp;user-id=1&amp;1431350554184" width="36" height="36"/>
					</div>
				</form>
			</div>
		</th:block>
	</div>
	
	<div class="long-separator"></div>
</div>

<div th:fragment="navigation">
	<!-- change language links -->
	<div id="lang-panel" class="lang-panel">
		<a href="?lang=ru">
			<img class="lang-panel-item" width="30px" height="23px"
				 th:src="@{/icons/countries/143.png}"/>
		</a>
		<a href="?lang=en">
			<img class="lang-panel-item" width="30px" height="23px"
				 th:src="@{/icons/countries/185.png}"/>
		</a>
	</div>
</div>

<div th:fragment="footer">
	<div class="long-separator"></div>
	<!-- footer -->
	<div id="footer" class="footer">
		<form action="mailto:help@keybattle.net" method="post">
			<div class="footer-contacts" onclick="this.parentNode.submit()">help@keybattle.net</div>
		</form>
		
		<div class="vertical-separator"/>
		
		<form th:action="@{/about/author}" method="get">
			<div class="footer-copyright" th:text="#{copyright.text}" onclick="this.parentNode.submit()">
					&copy; Ivan Anisimov, 2014
			</div>
		</form>
	</div>
</div>

</body>

</html>
