<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="/layout :: common-meta" />

	<title th:text="#{profile.page.title}"></title>

    <script th:src="@{/script/profile.js}" type="text/javascript"/>
    <script th:src="@{/script/lib/spin.min.js}" type="text/javascript"/>
	<script th:src="@{/script/lib/jquery.pickmeup.js}" type="text/javascript"/>

	<script th:inline="javascript">
    /*<![CDATA[*/
        var getAvatarUrl = [[@{/user/avatar}]];
        var getStatusUrl = [[@{/user/status} + '?user-id=' + ${userInfo.userId}]];
        var setStatusUrl = [[@{/profile/set-status} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}]];
        var setAvatarUrl = [[@{/profile/set-avatar} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}]];
		var clearAvatarUrl = [[@{/profile/clear-avatar} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}]];
        var imageSizeError = [[#{big.file.size}]];
        var statusError = [[#{status.server.error}]];
		var avatarClearError = [[#{avatar.clear.server.error}]];
		var userId = [[${#authentication.principal.id}]];

		var calendar = {};
		calendar.weekdays = [[${weekdays}]];
		calendar.months = [[${months}]];
		calendar.shortWeekdays = [[${shortWeekdays}]];
		calendar.shortMonths = [[${shortMonths}]];
	
		var dicts = {};
        dicts.webActionStatusDict = [[${webActionStatusDict}]];
		dicts.webActionParamDict = [[${webActionParamDict}]];
		dicts.webActionParamValueDict = [[${webActionParamValueDict}]];
		dicts.webActionParamValueDict = [[${webActionParamValueDict}]];
		dicts.webCaptionDict = [[${webCaptionDict}]];
    
        var userInfo = [[${userInfo}]];
    
        $(document).ready(function() {
            init();
            loadUserInfo(userInfo);
        });
    
        function getStatus() {
            xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", getStatusUrl, false );
            xmlHttp.send( null );
            if (xmlHttp.status == 200) {
                return xmlHttp.responseText;
            } else {
                return null;
            }
        }

		function setStatus() {
			$.ajax({
				type: 'POST',
				url: setStatusUrl,
				data: {status: $('#status').val()},
				dataType: "json",
				success: function(data) {
					if (data.status != 0) {
						showErrorByData(data, dicts);
					}
					userInfo.status = $('#status').val();
					$('#save-status').css('display', 'none');
				},
				error: function(xhr, str) {
					showError(statusError, dicts);
				}
			});
		}
	
        function clearAvatar() {
			if (!userInfo.hasAvatar) {
				return;
			}
            $.ajax({
                type: 'POST',
                url: clearAvatarUrl,
                dataType: "json",
                success: function(data) {
                    if (data.status != 0) {
                        showErrorByData(data, dicts);
                    }
					var wrap = document.getElementById('avatar-wrap');
					$('#avatar-wrap').empty();
					loadImage(wrap, getAvatarUrl + '?type=0&user-id=' + userId
						+ '&' + new Date().getTime(), 'avatar', onImageLoad);
                },
                error: function(xhr, str) {
                    showError(avatarClearError, dicts);
                }
            });
        }
    
        var curStatus = userInfo.status;
    
        function showStatusSave() {
            var curStatus = userInfo.status; 
            if (curStatus == $('#status').val()) {
                $('#save-status').css('display', 'none');
                return;
            }
            
            var top = $('#status').position().top;
            var left = $('#status').position().left;
            var width = $('#status').outerWidth();
            var height = $('#status').outerHeight();
            var curHeight = $('#save-status').height();
                    
            $('#save-status').css('top', (top + height + 2) + 'px' );
            $('#save-status').css('left', left + 'px');
            $('#save-status').css('display', 'inline-block');
        }
    /*]]>*/
    </script>

	<link th:href="@{/css/profile.css}" rel="stylesheet" />
	<link th:href="@{/css/form.css}" rel="stylesheet" />
	<link th:href="@{/css/flags.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/lib/pickmeup.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="content-wrap">
    <header th:include="/layout :: header"></header>

    <nav th:include="/layout :: navigation"></nav>

    <div class="main-content">
		<th:block sec:authorize="isAuthenticated()">
		<div style="text-align: center;">
			<div class="section avatar-username-status-wrap">
				<div class="avatar-form">
					<form id="upload-avatar" method="post" action="#" enctype="multipart/form-data">
						<label for="avatar-input">
							<div id="avatar-wrap"></div>
						</label>

						<input id="avatar-input" name="avatar" type="file" accept="image/*" class="super-hidden"/>
					</form>
					<button onclick="clearAvatar();" class="clear-avatar">x</button>
				</div>

				<div class="username-status-wrap">
					<div class="username" th:text="${userInfo.userName}">noname</div>
					<div class="status-wrap">
						<input id="status" class="text-input" type="text" th:placeholder="#{status.label}" 
							   th:value="${userInfo.status}" onkeyup="showStatusSave()" />
						<div id="save-status" onclick="setStatus()" th:text="#{save.status.button}">save</div>
					</div>
				</div>
			</div>
        </div>
			
        <div style="text-align: center;">
            <form class="section upload-user-data" id="upload-user-info" method="post" th:object="${userInfo}" th:action="@{/profile/update-info}">
                <div class="user-data-wrap">
                    <input type="hidden" th:field="*{userName}"/>
                    <input type="hidden" th:field="*{status}"/>
                    
                    <div class="user-data-element">
                        <div class="label"><label for="email" th:text="#{email.label}"></label></div>
                        <div class="data-element"><div id="email" th:text="*{email}"></div></div>
                        <input type="hidden" th:field="*{email}" />
                    </div>
                    
                    <div class="user-data-element">
                        <div class="label"><label for="name" th:text="#{name.label}"></label></div>
                        <div class="data-element">
                            <input id="name" class="text-input" type="text" th:field="*{name}" th:placeholder="#{name.placeholder}"/>
                        </div>
                    </div>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">bad name</div>

                    <div class="user-data-element">
                        <div class="label"><label for="gender" th:text="#{gender.label}"></label></div>
                        <div class="data-element">
                            <dl id="gender" class="dropdown">
                                <dt><a><span th:text="#{gender.placeholder}">Please select gender</span></a></dt>
                                <dd>
                                    <ul id="gender-list" class="scrollbar">
                                        <li th:each="genderEntry : ${genderDict}">
                                            <a th:id="'gender-' + ${genderEntry.key}">
                                                <span th:text="${genderEntry.value}"></span>
                                                <span class="value" th:text="${genderEntry.key}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <input id="genderId" type="hidden" name="gender" th:field="*{gender}"/>
                    </div>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">bad gender</div>

                    <div class="user-data-element">
                        <div class="label"><label for="dateOfBirth" th:text="#{dateOfBirth.label}"></label></div>
                        <div class="data-element">
                            <input id="dateOfBirth" class="text-input" type="text" th:field="*{dateOfBirth}" th:placeholder="#{dateOfBirth.placeholder}"/>
                        </div>
                    </div>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">bad date of birth</div>

                    <div class="user-data-element">
                        <div class="label"><label for="country" th:text="#{country.label}"></label></div>
                        <div class="data-element">
                            <dl id="country" class="dropdown">
                                <dt><a><span th:text="#{country.placeholder}">Please select the country</span></a></dt>
                                <dd>
                                    <ul id="country-list" class="scrollbar">
                                        <li th:each="countryEntry : ${countryDict}">
                                            <a th:id="'country-' + ${countryEntry.key}" >
                                                <span th:class="${'flag flag-' + countryEntry.key}"/>
                                                <span th:text="${countryEntry.value}"></span>
                                                <span class="value" th:text="${countryEntry.key}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <input id="countryId" type="hidden" name="countryId" th:field="*{countryId}"/>
                    </div>
                    <div class="alert alert-error" th:if="${#fields.hasErrors('countryId')}" th:errors="*{countryId}">bad country</div>

                    <div class="user-data-element">
                        <div class="label"><label for="hidden" th:text="#{hidden.label}"></label></div>
                        <div class="data-element">
                            <input id="hidden" type="checkbox" th:field="*{hidden}" name="hidden"/>
                        </div>
                    </div>

                    <div class="user-data-element">
                        <div class="label"><label for="emailHidden" th:text="#{emailHidden.label}"></label></div>
                        <div class="data-element">
                            <input id="emailHidden" type="checkbox" th:field="*{emailHidden}" name="emailHidden"/>
                        </div>
                    </div>

                    <div class="user-data-element">
                        <input type="submit" name="save-action" class="button" th:value="#{save.button}"/>
                        <input type="submit" name="delete-action" class="button" th:value="#{clear.button}"/>
                    </div>
                </div>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
		</div>
			
		<div style="text-align: center;">
			<form class="section upload-user-data" id="upload-user-settings" method="post" th:object="${userSettings}" th:action="@{/profile/update-settings}">
				<div class="user-data-wrap">
					<input type="hidden" th:field="*{userName}"/>
					<input type="hidden" th:field="*{status}"/>

					<div class="user-data-element">
						<div class="label"><label for="email" th:text="#{email.label}"></label></div>
						<div class="data-element"><div id="email" th:text="*{email}"></div></div>
						<input type="hidden" th:field="*{email}" />
					</div>

					<div class="user-data-element">
						<div class="label"><label for="name" th:text="#{name.label}"></label></div>
						<div class="data-element">
							<input id="name" class="text-input" type="text" th:field="*{name}" th:placeholder="#{name.placeholder}"/>
						</div>
					</div>
					<div class="alert alert-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">bad name</div>

					<div class="user-data-element">
						<div class="label"><label for="gender" th:text="#{gender.label}"></label></div>
						<div class="data-element">
							<dl id="gender" class="dropdown">
								<dt><a><span th:text="#{gender.placeholder}">Please select gender</span></a></dt>
								<dd>
									<ul id="gender-list" class="scrollbar">
										<li th:each="genderEntry : ${genderDict}">
											<a th:id="'gender-' + ${genderEntry.key}">
												<span th:text="${genderEntry.value}"></span>
												<span class="value" th:text="${genderEntry.key}"></span>
											</a>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
						<input id="genderId" type="hidden" name="gender" th:field="*{gender}"/>
					</div>
					<div class="alert alert-error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">bad gender</div>

					<div class="user-data-element">
						<div class="label"><label for="dateOfBirth" th:text="#{dateOfBirth.label}"></label></div>
						<div class="data-element">
							<input id="dateOfBirth" class="text-input" type="text" th:field="*{dateOfBirth}" th:placeholder="#{dateOfBirth.placeholder}"/>
						</div>
					</div>
					<div class="alert alert-error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">bad date of birth</div>

					<div class="user-data-element">
						<div class="label"><label for="country" th:text="#{country.label}"></label></div>
						<div class="data-element">
							<dl id="country" class="dropdown">
								<dt><a><span th:text="#{country.placeholder}">Please select the country</span></a></dt>
								<dd>
									<ul id="country-list" class="scrollbar">
										<li th:each="countryEntry : ${countryDict}">
											<a th:id="'country-' + ${countryEntry.key}" >
												<span th:class="${'flag flag-' + countryEntry.key}"/>
												<span th:text="${countryEntry.value}"></span>
												<span class="value" th:text="${countryEntry.key}"></span>
											</a>
										</li>
									</ul>
								</dd>
							</dl>
						</div>
						<input id="countryId" type="hidden" name="countryId" th:field="*{countryId}"/>
					</div>
					<div class="alert alert-error" th:if="${#fields.hasErrors('countryId')}" th:errors="*{countryId}">bad country</div>

					<div class="user-data-element">
						<div class="label"><label for="hidden" th:text="#{hidden.label}"></label></div>
						<div class="data-element">
							<input id="hidden" type="checkbox" th:field="*{hidden}" name="hidden"/>
						</div>
					</div>

					<div class="user-data-element">
						<div class="label"><label for="emailHidden" th:text="#{emailHidden.label}"></label></div>
						<div class="data-element">
							<input id="emailHidden" type="checkbox" th:field="*{emailHidden}" name="emailHidden"/>
						</div>
					</div>

					<div class="user-data-element">
						<input type="submit" name="save-action" class="button" th:value="#{save.button}"/>
						<input type="submit" name="delete-action" class="button" th:value="#{clear.button}"/>
					</div>
				</div>

				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		</div>
					
		</th:block>
    </div>
</div>

<footer th:include="/layout :: footer"></footer>

</body>

</html>
