<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/layout :: common-meta" />

	<title th:text="#{sign.up.page.title}"></title>

	<link th:href="@{/css/sign-up.css}" rel="stylesheet" />
	<link th:href="@{/css/form.css}" rel="stylesheet" />

	<script th:src="@{/script/sign-up.js}" type="text/javascript" />
	<script src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js" type="text/javascript" />
</head>

<body onload="showRecaptcha();">

<div class="content-wrap">
	<th:block th:include="/layout :: header" />

	<th:block th:include="/layout :: navigation" />

	<div class="main-content">
		<form action="#" th:action="@{/sign-up}" th:object="${registration}" method="post">
			<div class="section sign-up-form-content">
				<div>
					<input class="text-input sign-up-text-input" type="text" name="userName" th:field="*{userName}" th:placeholder="#{login.label}" autofocus="autofocus"/>
				</div>
				<div class="alert alert-error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>

				<div>
					<input class="text-input sign-up-text-input" type="password" name="password" th:field="*{password}" th:placeholder="#{password.label}"/>
				</div>
				<div class="alert alert-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

				<div>
					<input class="text-input sign-up-text-input" type="password" name="confirmPassword" th:field="*{confirmPassword}" th:placeholder="#{confirm.password.label}"/>
				</div>
				<div class="alert alert-error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></div>

				<div>
					<input class="text-input sign-up-text-input" type="text" name="email" th:field="*{email}" th:placeholder="#{email.label}"/>
				</div>
				<div class="alert alert-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

				<div>
					<input class="button sign-up-button" type="submit" th:value="#{sign.up.button}"/>
				</div>

				<div id="captchadiv"></div>
				<div id="last-alert" class="alert alert-error" th:if="${invalidRecaptcha == true}" th:text="#{recaptcha.error}"></div>

				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			</div>
		</form>
	</div>
</div>

<th:block th:include="/layout :: footer" />

</body>

</html>
