<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<th:block th:include="/layout :: common-meta" />

	<title th:text="#{texts.page.title}"></title>

	<link th:href="@{/css/texts.css}" rel="stylesheet" />
	<link th:href="@{/css/form.css}" rel="stylesheet" />
</head>

<body>

<div class="content-wrap">
	<th:block th:include="/layout :: header" />

	<th:block th:include="/layout :: navigation" />

	<div class="main-content">
		<div sec:authorize="isAuthenticated()" class="alert alert-success" th:text="#{sign.in.already}"></div>

		<!-- login form -->
		<form sec:authorize="!isAuthenticated()" class="login-form" th:action="@{/auth/login_check}" method="post">
			<div>
				<!-- on error=login_error -->
				<div th:if="${param.error != null and param.error[0] == 'login_error'}" class="alert alert-error"
					 th:text="#{login.error}"></div>

				<!-- on logout=success -->
				<div th:if="${param.logout}" class="alert alert-success" th:text="#{logout.success}">
				</div>

				<!-- on signup=sucess -->
				<div th:if="${param.signup != null and param.signup[0] == 'success'}" class="alert alert-success"
					 th:text="#{sign.up.success}"></div>

				<!-- on signupconfirm==sucess -->
				<div th:if="${param.signupconfirm != null and param.signupconfirm[0] == 'success'}" class="alert alert-success"
					 th:text="#{sign.up.confirm.success}"></div>

				<!-- on signup-confirm==fail -->
				<div th:if="${param.signupconfirm != null and param.signupconfirm[0] == 'fail'}" class="alert alert-error"
					 th:text="#{sign.up.confirm.fail}"></div>
			</div>

			<div class="input-wrap">
				<label>
					<input class="text-input sign-in-text-input" type="text" name="username"
						   th:placeholder="#{login.label}" autofocus="autofocus" />
				</label>
			</div>

			<div class="input-wrap">
				<label>
					<input class="text-input sign-in-text-input" type="password" name="password"
						   th:placeholder="#{password.label}" />
				</label>
			</div>

			<div class="input-wrap">
				<input class="checkbox-input sign-in-checkbox-input" type="checkbox" name="remember-me" />
				<label th:text="#{remember.me.label}"></label>
			</div>

			<div class="input-wrap">
				<input class="button sign-in-submit-input" type="submit" th:value="#{sign.in.button}" />
			</div>

			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>
</div>

<th:block th:include="/layout :: footer" />

</body>

</html>

