.room-wrapper {
    text-align: center;

    width: 100%;
    height: 40em;

    padding-bottom: 4px;
}

.room-element {
    display: inline-block;
    vertical-align:top;
}

.battle-room {
    width: 70%;
    height: 100%;

    margin-top: 1px;
    margin-right: 1em;

    border: 1px solid green;

    overflow-y: scroll;
    text-align: center;
}

.battle-card {
    width: 90%;
    height: 3em;

    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5%;
    margin-right: 5%;

    border: 1px solid green;
}

.battle-card:hover {
    background-color: rgb(204, 230, 204);
}

.wide-battle-card {
    width: 90%;
    height: 5em;

    margin-left: 5%;
    margin-right: 5%;

    border: 1px solid green;
}

.wide-battle-card:hover {
    background-color: rgb(204, 230, 204);
}

.chat-wrapper {
    width: 20%;
    height: 100%;

    padding-top: 0;
    padding-right: 2px;
}

.chat-users {
    text-align: center;

    width: 100%;
    height: 20em;

    border: 1px solid green;

    margin-bottom: -1px;

    overflow-y: scroll;
    text-align: center;
}

.user-card {
    text-align: left;

    width: 90%;
    height: 2em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 5%;

    border: 1px solid green;

    display: table;

    cursor: pointer;
}

.user-card-selected {
    background-color: rgb(204, 230, 204);
}

.user-card:hover {
    background-color: rgb(204, 230, 204);
}

.avatar-wrapper {
    text-align: center;

    height: 100%;
    width: 3.5em;

    display: table-cell;
    vertical-align: middle;
}

.avatar {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.card-login {
    text-align: left;

    width: auto;

    display: table-cell;
    vertical-align: middle;
}

#chat-window {
    text-align: center;

    width: 100%;
    height: 19em;

    border: 1px solid green;

    margin-bottom: -1px;

    overflow-y: scroll;
    text-align: center;
}

.message {
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    margin: 0;
}

.message:nth-child(even) {
    background-color: white;
}

.message:nth-child(odd) {
    background-color: rgb(204, 230, 204);
}

#user-message {
    width: 100%;
    height: 1em;

    margin: 0;
    padding: 0;
}
