.flag { display:inline-block; border:none; vertical-align:middle; margin-right:5px; background:url('../images/flag_sprite.png') no-repeat;}

.flag-0{ background-position: 0 -1391px; width: 17px; height: 12px; } 
.flag-1{ background-position: 0 0; width: 17px; height: 12px; } 
.flag-10{ background-position: 0 -13px; width: 17px; height: 12px; } 
.flag-100{ background-position: 0 -26px; width: 17px; height: 12px; } 
.flag-101{ background-position: 0 -39px; width: 17px; height: 12px; } 
.flag-102{ background-position: 0 -52px; width: 17px; height: 12px; } 
.flag-103{ background-position: 0 -65px; width: 17px; height: 12px; } 
.flag-104{ background-position: 0 -78px; width: 17px; height: 12px; } 
.flag-105{ background-position: 0 -91px; width: 17px; height: 12px; } 
.flag-106{ background-position: 0 -104px; width: 17px; height: 12px; } 
.flag-107{ background-position: 0 -117px; width: 17px; height: 12px; } 
.flag-108{ background-position: 0 -130px; width: 17px; height: 12px; } 
.flag-109{ background-position: 0 -143px; width: 17px; height: 12px; } 
.flag-11{ background-position: 0 -156px; width: 17px; height: 12px; } 
.flag-110{ background-position: 0 -169px; width: 17px; height: 12px; } 
.flag-111{ background-position: 0 -182px; width: 17px; height: 12px; } 
.flag-112{ background-position: 0 -195px; width: 17px; height: 12px; } 
.flag-113{ background-position: 0 -208px; width: 17px; height: 12px; } 
.flag-114{ background-position: 0 -221px; width: 17px; height: 12px; } 
.flag-115{ background-position: 0 -234px; width: 17px; height: 12px; } 
.flag-116{ background-position: 0 -247px; width: 17px; height: 12px; } 
.flag-117{ background-position: 0 -260px; width: 17px; height: 12px; } 
.flag-118{ background-position: 0 -273px; width: 17px; height: 12px; } 
.flag-119{ background-position: 0 -286px; width: 17px; height: 12px; } 
.flag-12{ background-position: 0 -299px; width: 17px; height: 12px; } 
.flag-120{ background-position: 0 -312px; width: 17px; height: 12px; } 
.flag-121{ background-position: 0 -325px; width: 17px; height: 12px; } 
.flag-122{ background-position: 0 -338px; width: 17px; height: 12px; } 
.flag-123{ background-position: 0 -351px; width: 17px; height: 12px; } 
.flag-124{ background-position: 0 -364px; width: 17px; height: 12px; } 
.flag-125{ background-position: 0 -377px; width: 17px; height: 12px; } 
.flag-126{ background-position: 0 -390px; width: 17px; height: 12px; } 
.flag-127{ background-position: 0 -403px; width: 17px; height: 12px; } 
.flag-128{ background-position: 0 -416px; width: 17px; height: 12px; } 
.flag-129{ background-position: 0 -429px; width: 17px; height: 12px; } 
.flag-13{ background-position: 0 -442px; width: 17px; height: 12px; } 
.flag-130{ background-position: 0 -455px; width: 17px; height: 12px; } 
.flag-131{ background-position: 0 -468px; width: 17px; height: 12px; } 
.flag-132{ background-position: 0 -481px; width: 17px; height: 12px; } 
.flag-133{ background-position: 0 -494px; width: 17px; height: 12px; } 
.flag-134{ background-position: 0 -507px; width: 17px; height: 12px; } 
.flag-135{ background-position: 0 -520px; width: 15px; height: 12px; } 
.flag-136{ background-position: 0 -533px; width: 17px; height: 12px; } 
.flag-137{ background-position: 0 -546px; width: 17px; height: 12px; } 
.flag-138{ background-position: 0 -559px; width: 17px; height: 12px; } 
.flag-139{ background-position: 0 -572px; width: 17px; height: 12px; } 
.flag-14{ background-position: 0 -585px; width: 17px; height: 12px; } 
.flag-140{ background-position: 0 -598px; width: 17px; height: 12px; } 
.flag-141{ background-position: 0 -611px; width: 17px; height: 12px; } 
.flag-142{ background-position: 0 -624px; width: 17px; height: 12px; } 
.flag-143{ background-position: 0 -637px; width: 17px; height: 12px; } 
.flag-144{ background-position: 0 -650px; width: 17px; height: 12px; } 
.flag-145{ background-position: 0 -663px; width: 17px; height: 12px; } 
.flag-146{ background-position: 0 -676px; width: 17px; height: 12px; } 
.flag-147{ background-position: 0 -689px; width: 17px; height: 12px; } 
.flag-148{ background-position: 0 -702px; width: 17px; height: 12px; } 
.flag-149{ background-position: 0 -715px; width: 17px; height: 12px; } 
.flag-15{ background-position: 0 -728px; width: 17px; height: 12px; } 
.flag-150{ background-position: 0 -741px; width: 17px; height: 12px; } 
.flag-151{ background-position: 0 -754px; width: 17px; height: 12px; } 
.flag-152{ background-position: 0 -767px; width: 17px; height: 12px; } 
.flag-153{ background-position: 0 -780px; width: 17px; height: 12px; } 
.flag-154{ background-position: 0 -793px; width: 17px; height: 12px; } 
.flag-155{ background-position: 0 -806px; width: 17px; height: 12px; } 
.flag-156{ background-position: 0 -819px; width: 17px; height: 12px; } 
.flag-157{ background-position: 0 -832px; width: 17px; height: 12px; } 
.flag-158{ background-position: 0 -845px; width: 17px; height: 12px; } 
.flag-159{ background-position: 0 -858px; width: 17px; height: 12px; } 
.flag-16{ background-position: 0 -871px; width: 17px; height: 12px; } 
.flag-160{ background-position: 0 -884px; width: 17px; height: 12px; } 
.flag-161{ background-position: 0 -897px; width: 17px; height: 12px; } 
.flag-162{ background-position: 0 -910px; width: 17px; height: 12px; } 
.flag-163{ background-position: 0 -923px; width: 17px; height: 12px; } 
.flag-164{ background-position: 0 -936px; width: 17px; height: 12px; } 
.flag-165{ background-position: 0 -949px; width: 17px; height: 12px; } 
.flag-166{ background-position: 0 -962px; width: 17px; height: 12px; } 
.flag-167{ background-position: 0 -975px; width: 17px; height: 12px; } 
.flag-168{ background-position: 0 -988px; width: 17px; height: 12px; } 
.flag-169{ background-position: 0 -1001px; width: 17px; height: 12px; } 
.flag-17{ background-position: 0 -1014px; width: 17px; height: 12px; } 
.flag-170{ background-position: 0 -1027px; width: 17px; height: 12px; } 
.flag-171{ background-position: 0 -1040px; width: 17px; height: 12px; } 
.flag-172{ background-position: 0 -1053px; width: 17px; height: 12px; } 
.flag-173{ background-position: 0 -1066px; width: 17px; height: 12px; } 
.flag-174{ background-position: 0 -1079px; width: 17px; height: 12px; } 
.flag-175{ background-position: 0 -1092px; width: 17px; height: 12px; } 
.flag-176{ background-position: 0 -1105px; width: 17px; height: 12px; } 
.flag-177{ background-position: 0 -1118px; width: 17px; height: 12px; } 
.flag-178{ background-position: 0 -1131px; width: 17px; height: 12px; } 
.flag-179{ background-position: 0 -1144px; width: 17px; height: 12px; } 
.flag-18{ background-position: 0 -1157px; width: 17px; height: 12px; } 
.flag-180{ background-position: 0 -1170px; width: 17px; height: 12px; } 
.flag-181{ background-position: 0 -1183px; width: 17px; height: 12px; } 
.flag-182{ background-position: 0 -1196px; width: 17px; height: 12px; } 
.flag-183{ background-position: 0 -1209px; width: 17px; height: 12px; } 
.flag-184{ background-position: 0 -1222px; width: 17px; height: 12px; } 
.flag-185{ background-position: 0 -1235px; width: 17px; height: 12px; } 
.flag-186{ background-position: 0 -1248px; width: 17px; height: 12px; } 
.flag-187{ background-position: 0 -1261px; width: 17px; height: 12px; } 
.flag-188{ background-position: 0 -1274px; width: 17px; height: 12px; } 
.flag-189{ background-position: 0 -1287px; width: 17px; height: 12px; } 
.flag-19{ background-position: 0 -1300px; width: 17px; height: 12px; } 
.flag-190{ background-position: 0 -1313px; width: 17px; height: 12px; } 
.flag-191{ background-position: 0 -1326px; width: 17px; height: 12px; } 
.flag-192{ background-position: 0 -1339px; width: 17px; height: 12px; } 
.flag-193{ background-position: 0 -1352px; width: 17px; height: 12px; } 
.flag-194{ background-position: 0 -1365px; width: 17px; height: 12px; } 
.flag-195{ background-position: 0 -1378px; width: 17px; height: 12px; } 
.flag-2{ background-position: 0 -1404px; width: 17px; height: 12px; } 
.flag-20{ background-position: 0 -1417px; width: 17px; height: 12px; } 
.flag-21{ background-position: 0 -1430px; width: 17px; height: 12px; } 
.flag-22{ background-position: 0 -1443px; width: 17px; height: 12px; } 
.flag-23{ background-position: 0 -1456px; width: 17px; height: 12px; } 
.flag-24{ background-position: 0 -1469px; width: 17px; height: 12px; } 
.flag-25{ background-position: 0 -1482px; width: 17px; height: 12px; } 
.flag-26{ background-position: 0 -1495px; width: 17px; height: 12px; } 
.flag-27{ background-position: 0 -1508px; width: 17px; height: 12px; } 
.flag-28{ background-position: 0 -1521px; width: 17px; height: 12px; } 
.flag-29{ background-position: 0 -1534px; width: 17px; height: 12px; } 
.flag-3{ background-position: 0 -1547px; width: 17px; height: 12px; } 
.flag-30{ background-position: 0 -1560px; width: 17px; height: 12px; } 
.flag-31{ background-position: 0 -1573px; width: 17px; height: 12px; } 
.flag-32{ background-position: 0 -1586px; width: 17px; height: 12px; } 
.flag-33{ background-position: 0 -1599px; width: 17px; height: 12px; } 
.flag-34{ background-position: 0 -1612px; width: 17px; height: 12px; } 
.flag-35{ background-position: 0 -1625px; width: 17px; height: 12px; } 
.flag-36{ background-position: 0 -1638px; width: 17px; height: 12px; } 
.flag-37{ background-position: 0 -1651px; width: 17px; height: 12px; } 
.flag-38{ background-position: 0 -1664px; width: 17px; height: 12px; } 
.flag-39{ background-position: 0 -1677px; width: 17px; height: 12px; } 
.flag-4{ background-position: 0 -1690px; width: 17px; height: 12px; } 
.flag-40{ background-position: 0 -1703px; width: 17px; height: 12px; } 
.flag-41{ background-position: 0 -1716px; width: 17px; height: 12px; } 
.flag-42{ background-position: 0 -1729px; width: 17px; height: 12px; } 
.flag-43{ background-position: 0 -1742px; width: 17px; height: 12px; } 
.flag-44{ background-position: 0 -1755px; width: 17px; height: 12px; } 
.flag-45{ background-position: 0 -1768px; width: 17px; height: 12px; } 
.flag-46{ background-position: 0 -1781px; width: 17px; height: 12px; } 
.flag-47{ background-position: 0 -1794px; width: 17px; height: 12px; } 
.flag-48{ background-position: 0 -1807px; width: 17px; height: 12px; } 
.flag-49{ background-position: 0 -1820px; width: 17px; height: 12px; } 
.flag-5{ background-position: 0 -1833px; width: 17px; height: 12px; } 
.flag-50{ background-position: 0 -1846px; width: 17px; height: 12px; } 
.flag-51{ background-position: 0 -1859px; width: 17px; height: 12px; } 
.flag-52{ background-position: 0 -1872px; width: 17px; height: 12px; } 
.flag-53{ background-position: 0 -1885px; width: 17px; height: 12px; } 
.flag-54{ background-position: 0 -1898px; width: 17px; height: 12px; } 
.flag-55{ background-position: 0 -1911px; width: 17px; height: 12px; } 
.flag-56{ background-position: 0 -1924px; width: 17px; height: 12px; } 
.flag-57{ background-position: 0 -1937px; width: 17px; height: 12px; } 
.flag-58{ background-position: 0 -1950px; width: 17px; height: 12px; } 
.flag-59{ background-position: 0 -1963px; width: 17px; height: 12px; } 
.flag-6{ background-position: 0 -1976px; width: 17px; height: 12px; } 
.flag-60{ background-position: 0 -1989px; width: 17px; height: 12px; } 
.flag-61{ background-position: -18px 0; width: 17px; height: 12px; } 
.flag-62{ background-position: -18px -13px; width: 17px; height: 12px; } 
.flag-63{ background-position: -18px -26px; width: 17px; height: 12px; } 
.flag-64{ background-position: -18px -39px; width: 17px; height: 12px; } 
.flag-65{ background-position: -18px -52px; width: 17px; height: 12px; } 
.flag-66{ background-position: -18px -65px; width: 17px; height: 12px; } 
.flag-67{ background-position: -18px -78px; width: 17px; height: 12px; } 
.flag-68{ background-position: -18px -91px; width: 17px; height: 12px; } 
.flag-69{ background-position: -18px -104px; width: 17px; height: 12px; } 
.flag-7{ background-position: -18px -117px; width: 17px; height: 12px; } 
.flag-70{ background-position: -18px -130px; width: 17px; height: 12px; } 
.flag-71{ background-position: -18px -143px; width: 17px; height: 12px; } 
.flag-72{ background-position: -18px -156px; width: 17px; height: 12px; } 
.flag-73{ background-position: -18px -169px; width: 17px; height: 12px; } 
.flag-74{ background-position: -18px -182px; width: 17px; height: 12px; } 
.flag-75{ background-position: -18px -195px; width: 17px; height: 12px; } 
.flag-76{ background-position: -18px -208px; width: 17px; height: 12px; } 
.flag-77{ background-position: -18px -221px; width: 17px; height: 12px; } 
.flag-78{ background-position: -18px -234px; width: 17px; height: 12px; } 
.flag-79{ background-position: -18px -247px; width: 17px; height: 12px; } 
.flag-8{ background-position: -18px -260px; width: 17px; height: 12px; } 
.flag-80{ background-position: -18px -273px; width: 17px; height: 12px; } 
.flag-81{ background-position: -18px -286px; width: 15px; height: 12px; } 
.flag-82{ background-position: -18px -299px; width: 17px; height: 12px; } 
.flag-83{ background-position: -18px -312px; width: 17px; height: 12px; } 
.flag-84{ background-position: -18px -325px; width: 17px; height: 12px; } 
.flag-85{ background-position: -18px -338px; width: 17px; height: 12px; } 
.flag-86{ background-position: -18px -351px; width: 17px; height: 12px; } 
.flag-87{ background-position: -18px -364px; width: 17px; height: 12px; } 
.flag-88{ background-position: -18px -377px; width: 17px; height: 12px; } 
.flag-89{ background-position: -18px -390px; width: 17px; height: 12px; } 
.flag-9{ background-position: -18px -403px; width: 17px; height: 12px; } 
.flag-90{ background-position: -18px -416px; width: 17px; height: 12px; } 
.flag-91{ background-position: -18px -429px; width: 17px; height: 12px; } 
.flag-92{ background-position: -18px -442px; width: 17px; height: 12px; } 
.flag-93{ background-position: -18px -455px; width: 17px; height: 12px; } 
.flag-94{ background-position: -18px -468px; width: 17px; height: 12px; } 
.flag-95{ background-position: -18px -481px; width: 17px; height: 12px; } 
.flag-96{ background-position: -18px -494px; width: 17px; height: 12px; } 
.flag-97{ background-position: -18px -507px; width: 17px; height: 12px; } 
.flag-98{ background-position: -18px -520px; width: 17px; height: 12px; } 
.flag-99{ background-position: -18px -533px; width: 17px; height: 12px; }