/* 
    colors
    
    white:          white
    red:            red
    black: 			black;
    green: 			green
    green-dark:     rgb(77, 166, 77)
    green-middle:   rgb(128, 192, 128)
    green-light:    rgb(204, 230, 204)
    white-shadow: 	#F5F5F5
*/


/* ---------------------------------------------------- */
/* components */

.text-input {
    font-size: 16px;
	border: 1px solid rgb(128, 192, 128);
	padding: 4px 6px;
	box-sizing: border-box;
	line-height: 20px;
	font-family: "Lucida Sans Unicode";
}

.button {
	font-size: 16px;
	color: white;
	cursor: pointer;
	border: 1px solid rgb(77, 166, 77);
	background-color: rgb(128, 192, 128);
	padding: 5px 7px;
	box-sizing: border-box;
	font-family: "Lucida Sans Unicode";
}

.button:hover {
	background-color: green;
}

.checkbox-input {
	color: black;
	font-size: 16px;
	border: 1px solid rgb(77, 166, 77);
	box-sizing: border-box;
	font-family: "Lucida Sans Unicode";
}


/* ---------------------------------------------------- */
/* lists */

.dropdown {
    margin: 0;
    width: 220px;
    line-height: 20px;
    font-size: 16px;
}

.dropdown dd, .dropdown dt, .dropdown ul {
    text-align: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 220px;
}

.dropdown dd {
    position:relative;
}

.dropdown a, .dropdown a:visited {
    color: black;
    text-decoration: none;
    outline: none;
}

.dropdown a:hover {
    color: black;
}

.dropdown dt a:hover {
    color: black;
    border: 1px solid rgb(128, 192, 128);
}

.dropdown dt a {
    background: white no-repeat scroll;
    display: block;
    border: 1px solid rgb(128, 192, 128);
    width: 220px;
    padding: 4px 6px;
    box-sizing: border-box;
}

.dropdown dt a span {
    cursor: pointer;
}

.dropdown dd ul {
    margin-top: 5px;
    background: white;
    border: 1px solid rgb(128, 192, 128);
    color: black;
    display: none;
    padding: 0;
    position: absolute;
    width: 220px;
    list-style: none;
    overflow-y: scroll;
    height: 220px;
    box-sizing: border-box;
}

#gender dd ul {
    height: auto;
    overflow-y: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    display: block;
    padding: 4px 6px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.dropdown dd ul li a:hover {
    border-top: 1px solid rgb(128, 192, 128);
    border-bottom: 1px solid rgb(128, 192, 128);
    box-sizing: border-box;
}

.scrollbar::-webkit-scrollbar-track {
    border-left: 1px solid rgb(128, 192, 128);
    box-sizing: border-box;
}


/* ---------------------------------------------------- */
/* alert messages */

.alert {
    font-size: 14px;
    font-family: "Lucida Sans Unicode";
}

.alert-success {
    color: rgb(77, 166, 77);
}

.alert-error {
    color: red;
}


/* ---------------------------------------------------- */
/* common */

.super-hidden {
    display: none;
}
