/* 
    colors
    
    white:          white
    red:            red
    black: 			black
    green: 			green
    green-dark:     rgb(77, 166, 77)
    green-middle:   rgb(128, 192, 128)
    green-light:    rgb(204, 230, 204)
    white-shadow: 	#F5F5F5
*/


/* ---------------------------------------------------- */
/* body */

html {
    height: 100%;
    width: 100%;
    
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 980px;
    
    margin: auto;
    padding: 0;
    font-family: "Lucida Sans Unicode";
    
    background-color: #F5F5F5;
}

.content-wrap {
    height: auto;
    min-height: 100%;
}

.section {
	background-color: white;
    
    box-shadow: 0 0 10px #E3E3E3;
    
    border: 1px solid rgb(204, 230, 204);
}


/* ---------------------------------------------------- */
/* header */

.header {
	width: 100%;
	height: 50px;
	
    text-align: left;
    
    color: black;
    
    font-size: 0;
    
    background-color: white;
    
    box-shadow: 0 0 10px #E3E3E3;
    
    border: 1px solid rgb(204, 230, 204);
}

.header > div {
	display: inline-block;
	
	vertical-align: top;
}

.header-title-wrap {
	width: 200px;
	height: 50px;
	
	font-size: 35px;
	text-align: left;	
}

.header-title {
	width: 200px;
	height: 50px;
	
	text-align: center;
	
	line-height: 50px;
	cursor: pointer;
}

.header-title:hover {
	color: green;
}

.menu-wrap {
	width: 578px;
	height: 50px;
	
	font-size: 15px;
	text-align: center;
}

.user-wrap {
	width: 200px;
	height: 50px;
	
	font-size: 0;
	text-align: right;
	
	cursor: pointer;
}

.user-wrap:hover {
	color: green;
}

.user-image {
	display: inline-block;
	vertical-align: top;
	
	margin: 7px;
}

.user-login {
	width: 150px;
	
	font-size: 18px;

	display: inline-block;
	vertical-align: top;
	line-height: 50px;
	
	text-align: center;
}


/* ---------------------------------------------------- */
/* lang panel */

.lang-panel {
    position: absolute;
    right: 15px;
    top: 15px;
}

.lang-panel-item {
    display: block;
    
    margin-bottom: 1px;
}


/* ---------------------------------------------------- */
/* content */

.main-content {
    margin-bottom: -51px;
    padding-bottom: 51px;
}


/* ---------------------------------------------------- */
/* menu */

.nav {
	height: 50px;
	
    font-size: 0;
    
    vertical-align: top;
}

.nav-category {
	width: 130px;
	
	height: 50px;

    cursor: pointer;

    display: inline-block;
    
    line-height: 50px;
    
    text-align: center;
    
    margin: 0;
    
    font-size: 18px;
}

.nav > ul > .nav-category:hover {
	color: green; 
	
	background-color: #F5F5F5;
	
	border-bottom: 5px solid green;
}

.nav ul {
    padding: 0;
    
   	margin: 0;
}

.nav-category ul {
    display: none;
    list-style-type: none;

    padding: 0;    
    border-left: 1px solid rgb(204, 230, 204);
    border-right: 1px solid rgb(204, 230, 204);
    border-top: 1px solid rgb(204, 230, 204);
    border-bottom: 5px solid green;
    
    width: 130px;
    box-sizing: border-box;
}

.nav-category:hover ul {
    display:block;
    position:absolute;
}

.nav-category ul li {
	height: 50px;	
	line-height: 50px;
	
	background-color: white;
	
	margin: 0;
	box-sizing: border-box;
	color: black;
}

.nav-category ul li:hover {
	background-color: #F5F5F5;
	color: green;
}


/* ---------------------------------------------------- */
/* footer */

.footer {
	width: 100%;
    height: 50px;

    text-align: right;
    font-size: 0;
    line-height: 50px;
    
    background-color: white;
        
	box-shadow: 0 0 10px #E3E3E3;
	
	border: 1px solid rgb(204, 230, 204);
}

.footer > div, .footer > form {
	display: inline-block;
	
	vertical-align: bottom;
	
	font-size: 18px;
}

.footer-contacts {
	font-size: 16px;
	
	margin-right: 50px;
}

.footer-contacts:hover {
	cursor: pointer;

	color: green;
}

.footer-copyright {
	margin-left: 50px;
	margin-right: 50px;
}

.footer-copyright:hover {
	cursor: pointer;
	
	color: green;
}

/* ---------------------------------------------------- */
/* separator */

.separator {
    width: 70%;
    height: 1px;

	margin-left: 15%;

    background-color: rgb(204, 230, 204);
}

.long-separator {
    width: 100%;
    height: 0px;

    background-color: rgb(204, 230, 204);
}

.vertical-separator {
	width: 1px;
	
	height: 50px;
	
	background-color: rgb(204, 230, 204);
}


/* ---------------------------------------------------- */
/* scrollbar */

.scrollbar::-webkit-scrollbar-track {
    background-color: rgb(204, 230, 204);
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(204, 230, 204);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(77, 166, 77);
}
