/* 
    colors
    
    white:          white
    red:            red
    black: 			black
    green: 			green
    green-dark:     rgb(77, 166, 77)
    green-middle:   rgb(128, 192, 128)
    green-light:    rgb(204, 230, 204)
    white-shadow: 	#F5F5F5
*/


.avatar-username-status-wrap {
	padding: 20px;
	width: 450px;
	display: inline-block;
    text-align: center;
}

/* ---------------------------------------------------- */
/* avatar */

.avatar-form {
    text-align: center;
}

#avatar-wrap {
    cursor: pointer;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.spinner {
    position: relative;
    width: 0;
    z-index: 2000000000;
    left: 50%;
    top: 50%;
}

#upload-avatar {
    border: 1px solid rgb(128, 192, 128);
    width: 150px;
    height: 150px;
}

#upload-avatar:hover~.clear-avatar {
    display: block;
}

.avatar-username-status-wrap {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar-username-status-wrap > div {
    display: inline-block;
    vertical-align: middle;
}

.clear-avatar {
    position: absolute;
    margin-top: -151px;
    margin-left: 1px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: black;
    color: #999999;
    font-weight: bold;
    opacity: 0.6;
    display: none;
}

.clear-avatar:hover {
    opacity: 0.9;
    border: 1px white;
    display: block;
}


/* ---------------------------------------------------- */
/* status and username */

.username-status-wrap {
    margin-left: 20px;
    width: 220px;
}

.username-status-wrap > div {
    display: block;
    text-align: left;
}

.status-wrap > div, .status-wrap > input {
    display: inline-block;
}

#status {
    margin-right: 20px;
    width: 220px;
}

#save-status {
    display: none;
    color: rgb(77, 166, 77);
    background-color: white;
    cursor: pointer;
    position: absolute;
}

#save-status:hover {
    color: rgb(128, 192, 128);
}

.username {
    font-size: 35px;
}


/* ---------------------------------------------------- */
/* user info */

.upload-user-data {
	padding: 20px;
	width: 450px;
	display: inline-block;
	
	margin-bottom: 20px;
}

.user-data-wrap {
    text-align: center;
	line-height: 30px;
}

.user-data-element:not(:nth-of-type(1)) {
	margin-top: 30px;
}

.user-data-element {
    display: block;
    text-align: center;
    
}

.user-data-element > .label, .user-data-element > .data-element {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 220px;
}

.data-element > .text-input {
	width: 220px;
}
