/* 
    colors
    
    white:          white
    red:            red
    black: 			black
    green: 			green
    green-dark:     rgb(77, 166, 77)
    green-middle:   rgb(128, 192, 128)
    green-light:    rgb(204, 230, 204)
    white-shadow: 	#F5F5F5
*/


.main-content {
    text-align: center;
    line-height: 100%;
    
    font-size: 0;
}


/* ---------------------------------------------------- */
/* sign in form */

.login-form {
    margin-top: 50px;
    padding: 25px;

    display: inline-block;

    border: 1px solid rgb(204, 230, 204);
}

.input-wrap {
    text-align: center;    
    
    font-size: 0;
}

.input-wrap * {
    display: inline-block;
    
    font-size: 16px;
}

.sign-in-text-input {
    width: 200px;
    
    margin-bottom: 10px;
}

.sign-in-checkbox-input {
	margin-bottom: 10px;
}


/* ---------------------------------------------------- */
/* alert messages */

.alert:last-child {
    margin-bottom: 25px;
}
