/* 
    colors
    
    white:          white
    red:            red
    black: 			black
    green: 			green
    green-dark:     rgb(77, 166, 77)
    green-middle:   rgb(128, 192, 128)
    green-light:    rgb(204, 230, 204)
    white-shadow: 	#F5F5F5
*/


.main-content {
    text-align: center;
}


/* ---------------------------------------------------- */
/* sign up form */

.sign-up-form-content {
	margin: 50px;
    padding: 25px;
       
    border: 1px solid rgb(204, 230, 204);
    
    display: inline-block;

    text-align: center;   
     
    font-size: 0; 
}

.sign-up-text-input {
	margin-bottom: 10px;
}

.sign-up-button {
	margin-bottom: 10px;
}


/* ---------------------------------------------------- */
/* alert messages */

.alert {
    margin-bottom: 15px;
}

#last-alert {
	margin-bottom: 0px;
	margin-top: 10px;
}

/* ---------------------------------------------------- */
/* captcha */

#captchadiv {
    text-align: center;
    width: 100%;
}

#recaptcha_table {
    margin-left: auto!important;
    margin-right: auto!important;
}
