<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="header">
		<tr>
			<td style="width: 2em"></td>
			<td style="width: 2em; background-color: rgb(77, 166, 77);"></td>
			<td style="
			text-align: center; 
			background-color: rgb(77, 166, 77);
			color: white; 
			height: 2em;
			font-size: 2em;
			" th:text="#{site.name}">keybattle</td>
			<td style="width: 2em; background-color: rgb(77, 166, 77);"></td>
			<td style="width: 2em"></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td style="height: 1em"></td>
			<td></td>
			<td></td>
		</tr>
	</th:block>
	
	<th:block th:fragment="footer">
		<tr>
			<td></td>
			<td></td>
			<td style="height: 1em"></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td style="width: 2em"></td>
			<td style="width: 2em; background-color: rgb(77, 166, 77);"></td>
			<td style="
			text-align: right; 
			background-color: rgb(77, 166, 77);
			color: white; 
			height: 2em;
			font-size: 1em;
			" th:text="#{copyright.text}">© Ivan Anisimov, 2014</td>
			<td style="width: 2em; background-color: rgb(77, 166, 77);"></td>
			<td style="width: 2em"></td>
		</tr>
	</th:block>
</html>
