<table style="width: 100%; border: 0; text-align: center" cellspacing="0" cellpadding="0" 
	   xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org">
	<th:block th:include="mail/layout :: header"/>
		
	<tr>
		<td style="width: 2em"></td>
		<td style="width: 2em"></td>
		<td style="
			text-align: left; 
			height: 2em;
			font-size: 1em;
			margin-left: 2em;
			">
			<th:block th:utext="#{greetings}"/>
			<th:block th:utext="#{registration.confirm.text}"/>
			<a th:href="'http://keybattle.net/sign-up/confirm?sk=' + ${sk} + '&amp;entityid=' + ${entityid}" th:text="'http://keybattle.net/sign-up/confirm?sk=' + ${sk} + '&amp;entityid=' + ${entityid}"></a><br/>
			<th:block th:utext="#{signature}"/>
			<th:block th:utext="#{signature.noreply}"/>
		</td>
		<td style="width: 2em"></td>
		<td style="width: 2em"></td>
	</tr>

	<th:block th:include="mail/layout :: footer"/>
</table>
